<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="/events.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav>
            <h3>INVINCIBLE</h3>
            <button class="hamburger">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>
        <div class="hero-section">
            <h1>Events</h1>
            <p>Life is either a daring adventure or nothing.</p>
        </div>
    </header>

    <main>
        <div class="events-container">
            <h3>Upcoming Events</h3>
            <div class="event-list">
                <!-- <div class="event-card">
                    <h4>Mountain Trekking Expedition</h4>
                    <p>Date: 15th March 2024</p>
                    <p>Location: Himalayas</p>
                    <button>Join Now</button>
                </div> -->

            </div>
    </main>

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="close-btn">
            <button>
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="pages">
            <ul>
                <li>
                    <i class="fa-regular fa-house"></i>
                    <a href="/">Home</a>
                </li>
                <li>
                    <i class="fa-regular fa-building"></i>
                    <a href="/about">About</a>
                </li>
                <li>
                    <i class="fa-solid fa-mountain-sun"></i>
                    <a href="/events">Events</a>
                </li>
                <!-- <li>
                    <i class="fa-regular fa-user"></i>
                    <a href="/profile">Profile</a>
                </li> -->
                <li>
                    <i class="fa-regular fa-user"></i>
                    <a href="/login">Login</a>
                </li>
            </ul>
        </div>
        <div class="contact">
            <div class="content-top">
                <h3>Contact</h3>
                <ul>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel:+1234567890">+1234567890</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        <a href="#">info@hotmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/events.js"></script>

</body>

</html>