<!-- Sidebar -->
<div class="sidebar">
  <div class="close-btn">
    <button>
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="pages">
    <ul>
      <li>
        <i class="fa-regular fa-house"></i>
        <a href="/">Home</a>
      </li>
      <li>
        <i class="fa-regular fa-building"></i>
        <a href="/about">About</a>
      </li>
      <li>
        <i class="fa-solid fa-mountain-sun"></i>
        <a href="/events">Events</a>
      </li>
      <% if (user) { %>
      <li>
        <i class="fa-regular fa-user"></i>
        <a href="/profile">Profile</a>
      </li>
      <li>
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <a href="/logout">Logout</a>
      </li>
      <% } else { %>
      <li>
        <i class="fa-regular fa-user"></i>
        <a href="/register">Signup/Login</a>
      </li>
      <% } %>
    </ul>
  </div>
  <div class="contact">
    <div class="content-top">
      <h3>Contact</h3>
      <ul>
        <li>
          <i class="fa-solid fa-phone"></i>
          <a href="tel:+1234567890">+1234567890</a>
        </li>
        <li>
          <i class="fa-solid fa-envelope"></i>
          <a href="#">info@hotmail.com</a>
        </li>
      </ul>
    </div>
  </div>
</div>


